<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">    
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <h3 style="color: #afe1f1;">Welcome to My World of Innovation &amp; Technology</h3>
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <div>&nbsp;</div>
      <p style="text-align: justify;">
        With over 7 years of experience at the forefront of Python development, Machine Learning, Deep Learning, and Computer Vision, 
        I'm driven by a passion for crafting cutting-edge solutions that make a real-world impact. My journey spans from Full-stack 
        Development to advanced AI and MLOps, grounded in a solid academic foundation with a Master's degree in Computer Science and 
        expertise in Telematics Engineering.</p>
      <div>&nbsp;</div>
      <p style="text-align: justify;">
        I thrive on turning complex challenges into AI-powered solutions. Whether it's deploying real-time AI models in production 
        environments, optimizing object detection systems, or delivering innovative edge computing and cloud-based workflows, I 
        specialize in end-to-end machine learning lifecycles&mdash;from data preprocessing and model training to seamless deployment 
        and optimization on platforms like AWS and Databricks.</p>
      <div>&nbsp;</div>
      <p style="text-align: justify;">
        I'm a firm believer in the power of scalable, resilient infrastructure. I bring expertise in managing environments using Docker
        , Linux, and CI/CD pipelines (Git/GitHub Actions) to automate and streamline the development process. My projects span diverse 
        domains, from optical character recognition (OCR) and natural language processing (NLP) to object detection&mdash;all designed 
        to deliver efficient, impactful, and data-driven solutions for the future.</p>
      <div>&nbsp;</div>
      <p style="text-align: justify;">
        Let's connect, explore, and build the technologies shaping tomorrow. Together, we can unlock the full potential of AI and innovation!
      </p>
    </div>
  </div>
</section>
